@model Core.ViewModels.LMSUserViewModel
@*@model Core.Entities.LMSUser*@

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Avatar)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Course)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Documents)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.UserType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
