@using Core.ViewModels;
@using Core.Utilities;
@using System.Text;
@using Microsoft.AspNetCore.Html;
@model UserDocumentViewModel


@{
    ViewData["Title"] = "Index";
    // var i = 0;
    //  string activeCourse = "false";
}


<div class="card">
    <div class="card-header">
        <h2>Course: @Model.CourseName</h2>
    </div>
    <div class="card-body">
        <h3> <strong>Course Documents</strong></h3>
        <ul>
            @foreach (var item in @Model.CourseDocuments)
            {
                <li>
                    
                    <a href="@item.FilePath/@item.Name">@item.Name</a>
                </li>
                @*<div class="bg-light clearfix">
                    <form asp-controller="Documents" asp-action="DownloadFile">
                        <span>@item.FilePath</span>
                        <div class="input-group">
                            <input type="text" class="form-control" name="fileName" />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">@item.FilePath</button>
                            </div>
                        </div>
                    </form>*@
                @*<button type="button" class="btn btn-primary float-right">@Html.ActionLink("Download", "DownloadFile", new { Name = item.Name })</button>*@
        @*</div>*@

    }
            </ul>
            <br />
            <br />

            <h3> <strong>Module Documents</strong></h3>
            @foreach (var item in @Model.ModuleViewModels)
            {

                <div class="bg-light clearfix">
                    <span>@item.Name</span>
                    <button type="button" class="btn btn-primary float-right">Download</button>
                </div>
            }
            <p></p>
            <h3> <strong>Activity Documents</strong></h3>
            @foreach (var item in @Model.ActivityViewModels)
            {

                <div class="bg-light clearfix">
                    <span>@item.Name</span>
                    <button type="button" class="btn btn-primary float-right">Download</button>
                </div>
            }

            <p></p>
            <h3> <strong>Students Documents</strong></h3>
            @foreach (var item in @Model.LMSUserDocuments)
            {
                <div class="bg-light clearfix">
                    <span>@item.Name</span>
                    <button type="button" class="btn btn-primary float-right">Download</button>
                </div>
            }
        </div>
</div>




