@using Core.ViewModels;
@using Core.Utilities;
@using System.Text;
@using Microsoft.AspNetCore.Html;
@model UserDocumentViewModel


@{
    ViewData["Title"] = "Index";
    // var i = 0;
    //  string activeCourse = "false";
}


<div class="card">
    <div class="card-header">
        <h2>Course: @Model.CourseName</h2>
    </div>
    <div class="card-body">
        <h3> <strong>Course Documents</strong></h3>
        @foreach (var item in @Model.CourseDocuments)
        {

    <div class="bg-light clearfix">
        <span>@item.Name</span>
        <span>@item.Description</span>
        <button type="button" class="btn btn-danger float-right">@Html.ActionLink("Download", "DownloadFileWithFileName", new { fileName = item.FilePath })</button>
    </div>

        }
        <br />
        <br />

        <h3> <strong>Module Documents</strong></h3>
        @foreach (var item in @Model.ModuleViewModels)
        {

    <div class="bg-light clearfix">
        <span>@item.Name</span>
        <span>@item.Description</span>
        <button type="button" class="btn btn-danger float-right">@Html.ActionLink("Download", "DownloadFileWithFileName", new { fileName = item.FilePath })</button>
    </div>
        }
        <p></p>
        <h3> <strong>Activity Documents</strong></h3>
        @foreach (var item in @Model.ActivityViewModels)
        {

    <div class="bg-light clearfix">
        <span>@item.Description</span>
        <button type="button" class="btn btn-danger float-right">@Html.ActionLink("Download", "DownloadFileWithFileName", new { fileName = item.FilePath })</button>
    </div>
        }

        <p></p>
        <h3> <strong>Students Documents</strong></h3>
        @foreach (var item in @Model.LMSUserDocuments)
        {
    <div class="bg-light clearfix">
        <span>@item.Name</span>
        <span>@item.Description</span>
        <button type="button" class="btn btn-danger float-right">@Html.ActionLink("Downlaod", "DownloadFileWithFileName", new { fileName = item.FilePath })</button>
        @*<button type="button" class="btn btn-danger float-right">@Html.ActionLink("Delete", "DeleteFileFromFolder", new { fileName = item.FilePath })</button>*@
    </div>
        }
    </div>
</div>




