@using Core.ViewModels;
@using Core.Utilities;
@using System.Text;
@using Microsoft.AspNetCore.Html;
@model CourseListViewModel

@{
    ViewData["Title"] = "Index";
    var i = 0;
    string activeCourse = "false";
    string activeModule = "false";
    string activeModuleAccordion = null;
}

<div class="d-flex mt-3 ml-5">
    <div>
        <div class="card border-secondary">
            <div class="card-header">
                <h4>Courses</h4>
                <hr />
                <div class="row">
                    <a asp-action="Create"><u>Create a new course</u></a>
                </div>
                <div class="row">

                    <div id="courses">

                        @foreach (var course in Model.Courses)
                        {
                            string classContents = "";

                            @if (Model.SelectedCourse is not null)
                            {
                                if (Model.SelectedCourse.Id == course.Id)
                                {
                                    classContents = "border-warning";
                                    activeCourse = i.ToString();
                                }
                            }
                            <h3>
                                <a href="#" class="btn btn-outline-primary">@course.Name</a>
                                @*@Html.ActionLink(linkText: course.Name, actionName: "Index", controllerName: "Courses",
                                    protocol: null, hostname: null, fragment: null,
                                    routeValues: new { selected = course.Id },
                                    htmlAttributes: new { @class = classContents })*@
                            </h3>
                            <div class="@classContents">
                                <ul class="list-unstyled list-group list-group-flush">
                                    <li class="list-group-item"><em>@Html.DisplayFor(modelItem => course.Description)</em></li>
                                    <li class="list-group-item">@Html.DisplayNameFor(modelItem => course.StartDate): @Html.DisplayFor(modelItem => course.StartDate)</li>
                                    <li class="list-group-item">@Html.DisplayNameFor(modelItem => course.EndDate): @Html.DisplayFor(modelItem => course.EndDate)</li>
                                    <li class="list-group-item">
                                        <a asp-controller="Courses" asp-action="Edit" asp-route-id="@course.Id"><u>Edit course</u></a> |
                                        <a asp-controller="Courses" asp-action="Delete" asp-route-id="@course.Id"><u>Delete course</u></a>
                                    </li>
                                </ul>
                                <ul class="list-unstyled list-group">
                                    <li class="list-group-item">
                                        <strong>Modules</strong> in this course:
                                        @if (course.Modules != null)
                                        {
                                            <span>@course.Modules.Count()</span>
                                        }

                                        <br />
                                        <a asp-controller="Modules" asp-action="Create" asp-route-id="@course.Id"><u>Create module</u></a>
                                    </li>
                                </ul>

                                @if (course.Modules != null)
                                {
                                    var m = 0;
                                    <div id="module_@course.Id">
                                        @foreach (var module in course.Modules)
                                        {
                                            <h3>
                                                <u>
                                                    <a href="#" class="btn btn-outline-secondary">@module.Name</a>
                                                    @*@Html.ActionLink(linkText: module.Name, actionName: "Index", controllerName: "Modules",
                                                        protocol: null, hostname: null, fragment: null,
                                                        routeValues: new { selected = module.Id },
                                                        htmlAttributes: new { @class = "btn  btn-outline-primary" })*@
                                                </u>
                                                @{
                                                    
                                                    string moduleClassContents = "";
                                                    if (Model.SelectedModule is not null)
                                                    {
                                                        if (Model.SelectedModule.Id == module.Id)
                                                        {
                                                            moduleClassContents = "border-danger";
                                                            activeModule = m.ToString();
                                                            activeModuleAccordion = $"module_{course.Id}";
                                                            <span id="selected"></span>
                                                        }
                                                    }

                                                }
                                            </h3>
                                            <div class="@moduleClassContents">
                                                <ul class="list-unstyled list-group">
                                                    <li class="list-group-item"><em>@Html.DisplayFor(modelItem => module.Description)</em></li>
                                                    <li class="list-group-item">
                                                        <a asp-controller="Modules" asp-action="Edit" asp-route-id="@module.Id"><u>Edit module</u></a> |
                                                        <a asp-controller="Modules" asp-action="Delete" asp-route-id="@module.Id"><u>Delete module</u></a>
                                                    </li>
                                                    @if (module.Activities != null)
                                                    {
                                                        <li class="list-group-item">
                                                            <strong>Activities</strong> in this module:@module.Activities.Count()
                                                            <br />
                                                            <a asp-controller="Activities" asp-action="Create" asp-route-id="@module.Id"><u>Create activity</u></a>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <div id="activity_@module.Id">
                                                                @foreach (var activity in module.Activities)
                                                                {
                                                                    if (activity != null)
                                                                    {
                                                                        <h3>
                                                                            <a href="#" class="btn btn-outline-secondary">@activity.Name</a>
                                                                        </h3>
                                                                        <div>
                                                                            <em>@Html.DisplayFor(modelItem => activity.Description)</em>
                                                                            <br />
                                                                            <a asp-controller="Activities" asp-action="Edit" asp-route-id="@activity.Id"><u>Edit activity</u></a> |
                                                                            <a asp-controller="Activities" asp-action="Delete" asp-route-id="@activity.Id"><u>Delete activity</u></a>
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                            <script>
                                                                $("#activity_@module.Id").accordion({
                                                                    collapsible: true,
                                                                    heightStyle: "content",
                                                                    active: false,
                                                                });
                                                            </script>
                                                        </li>

                                                    }
                                                </ul>
                                            </div>
                                            m++;
                                        }
                                    </div>
                                    <script>
                                        $("#module_@course.Id").accordion({
                                            collapsible: true,
                                            heightStyle: "content",
                                            active: false,
                                        });
                                    </script>
                                }
                            </div>
                            i++;
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var icons = {
            header: "ui-icon-circle-arrow-e",
            activeHeader: "ui-icon-circle-arrow-s"
        };
        $("#courses").accordion({
            collapsible: false,
            heightStyle: "content",
            active: @activeCourse,
            icons: icons
        });
        $("#toggle").button().on("click", function () {
            if ($("#courses").accordion("option", "icons")) {
                $("#courses").accordion("option", "icons", null);
            } else {
                $("#courses").accordion("option", "icons", icons);
            }
        });
    });
</script>
@{
    if (activeModuleAccordion is not null)
    {
        <script>
        $("#@activeModuleAccordion").accordion({
        active: @activeModule,
        });
        </script>
    }
}
