@model CourseViewModel

@{
    ViewData["Title"] = "My Course";
}

<div class="d-flex mt-3 ml-5">
    <div>
        <div class="card border-secondary">
            <div class="card-header">
                <h4>My Course</h4>
                <hr />
                <div class="row">
                    <div>
                        <div>
                            <h6>@Model.Name</h6>
                            <p class="text-success font-italic">@Model.StartDate.ToString("dddd, dd MMMM yyyy") - @Model.EndDate.ToString("dddd, dd MMMM yyyy")</p>
                        </div>
                        <div class="page-header">
                            <p>@Model.Description</p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row mb-0 pb-0">
                <h6 class="pl-4 mb-0 pb-0">Course Modules</h6><br />
            </div>

            <div class="row mb-3">
                <div id="accordion" class="accordion">
                    @foreach (var item in Model.Modules)
                    {

                        <h3>@item.Name</h3>
                        <div class="card">
                            <div class="card-body">

                                <p class="card-text">@item.Description</p>
                                <div>
                                    <div>
                                        @foreach (var activity in item.Activities)
                                        {
                                            if (activity.ActivityType.Name.Contains("Assignment"))
                                            {
                                                <div>
                                                    <div class="d-flex justify-content-between align-content-center">
                                                        <h6 class="text-black">@activity.ActivityType.Name</h6>
                                                    </div>
                                                    <p>@activity.Name</p>
                                                    <p><em class="text-danger">Deadline @activity.EndDate.ToString("D")</em></p>
                                                    <p class="">

                                                        @Html.ActionLink(linkText: "Submit assignment", actionName: "Assignments", controllerName: "Activities",
                                                                         protocol: null, hostname: null, fragment: null,
                                                                         routeValues: new { selected = @activity.Id },
                                                                         htmlAttributes: new { @class = "btn btn-outline-info" })

                                                        @*<a class="btn btn-outline-info" asp-controller="Activities" asp-action="Assignments" asp-route-id="@activity.Id">Submit assignment</a>*@
                                                    </p>
                                                </div>
                                                <hr />
                                            }
                                            else
                                            {
                                                <div>
                                                    <h6 class="text-black">@activity.ActivityType.Name</h6>
                                                    <p>@activity.Name</p>
                                                </div>
                                                <hr />
                                            }

                                        }
                                    </div>
                                </div>



                                @*<div id="accordionActivity" class="card" style="width:40em;">*@
                                @*@foreach (var activity in item.Activities)
                                        {

                                            <p>@activity.ActivityType.Name</p>
                                            <div class="card">
                                                <p>@activity.StartDate.ToString("yyyy-MM-dd")</p>
                                                <h4 class="card-title">@activity.Name</h4>
                                                <p class="card-text">@activity.Description</p>
                                            </div>

                                        }
                                    </div>*@


                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        var icons = {
            header: "ui-icon-circle-arrow-e",
            activeHeader: "ui-icon-circle-arrow-s",
        };
        $("#accordion").accordion({
            collapsible: true,
            heightStyle: "content",
            active: false,
            icons: icons
        });
        $("#toggle").button().on("click", function () {
            if ($("#courses").accordion("option", "icons")) {
                $("#courses").accordion("option", "icons", null);
            } else {
                $("#courses").accordion("option", "icons", icons);
            }
        });
    });



    $(function () {
        var icons = {
            header: "ui-icon-circle-arrow-e",
            activeHeader: "ui-icon-circle-arrow-s"
        };
        $("#accordionActivity").accordion({
            collapsible: true,
            heightStyle: "content",
            active: false,
            icons: icons
        });

    });

    $(function () {

        $("#progressbar").progressbar({
            value: 37
        });
    });
</script>
