@using Core.ViewModels;
@model CourseViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Courses)
            </th>
            <th>
                Modules
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedCourse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    <div><strong>@Html.DisplayNameFor(modelItem => item.Name):</strong> @Html.DisplayFor(modelItem => item.Name)</div>
                    <div><strong>@Html.DisplayNameFor(modelItem => item.Description):</strong> @Html.DisplayFor(modelItem => item.Description)</div>
                    <div><strong>@Html.DisplayNameFor(modelItem => item.StartDate):</strong> @Html.DisplayFor(modelItem => item.StartDate)</div>
                    <div><strong>@Html.DisplayNameFor(modelItem => item.EndDate):</strong> @Html.DisplayFor(modelItem => item.EndDate)</div>
                </td>
                <td>
                    @if (item.Modules != null)
                    {
                        @if (item.Modules.Count > 0)
                        {
                            <div>
                                Number of modules:
                                @Html.DisplayFor(modelItem => item.Modules.Count)
                                @if (Model.SelectedCourse is not null)
                                {
                                    @if (Model.SelectedCourse == item)
                                    {
                                        <span>***selected***</span>
                                    }
                                }
                            </div>
                            <div>
                                @foreach (var module in item.Modules)
                                {
                                    if (module != null)
                                    {
                                        <strong>Modules: </strong><br />
                                        <span>
                                            <a class="btn-outline-primary" asp-action="Details" asp-controller="Modules" asp-route-id="@module.Id">
                                                @Html.DisplayFor(modelItem => module.Name)
                                            </a>
                                        </span>

                                        @if (module.Activities != null)
                                        {
                                            @if (module.Activities.Count > 0)
                                            {
                                                <div>
                                                    <strong>
                                                        Number of Activities:
                                                    </strong>
                                                    @module.Activities.Count()
                                                    <br />
                                                    Activities: <br />
                                                    @foreach (var activity in module.Activities)
                                                    {
                                                        if (activity != null)
                                                        {
                                                            <div>
                                                                <a class="btn-outline-primary" asp-action="Details" asp-controller="Activities" asp-route-id="@activity.Id">
                                                                    @Html.DisplayFor(modelItem => activity.Name)
                                                                </a>
                                                            </div>
                                                            

                                                        }
                                                    }
                                                </div>
                                            }
                                        }

                                        <br />
                                    }
                                }
                            </div>
                        }
                    }
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
