@using Core.ViewModels;
@using Core.Utilities;
@using System.Text;
@using Microsoft.AspNetCore.Html;
@model IEnumerable<LMSUserViewModel>
@inject SignInManager<LMSUser> SignInManager
@inject UserManager<LMSUser> UserManager

@{
    ViewData["Title"] = "Index";

}

<div class="d-flex mt-3 ml-5">
    <div>
        <div class="card border-secondary student-class-card">
            <div class="card-header">
                <h4>Staff Administration</h4>
                <p>
                    <a type="button" class="btn btn-outline-primary" asp-action="AddStaff">Add Staff</a>
                </p>
                <hr />

                    <div class="row">
                        @foreach (var user in Model)
                        {
                            <div class="">
                                <div class="card user-card border-primary mb-3">
                                    <div class="user-list user-grid">
                                        <div class="card-header">@user.FullName</div>
                                        <div class="card-body">
                                            <div class="user-list-image">
                                                <img class="img-fluid"
                                                     src="@user.Avatar"
                                                     alt="">
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item"><strong>Phone:</strong> @user.PhoneNumber</li>
                                                <li class="list-group-item"><strong>Email:</strong> @user.Email</li>
                                                <li class="list-group-item">
                                                    <p class="bs-component">
                                                        <a type="button" class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@user.Id">Edit</a>

                                                        <a type="button" class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@user.Id">Details</a>

                                                        <a type="button" class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

            </div>
        </div>
    </div>
</div>