@using Core.ViewModels.ModulesViewModel
@model IEnumerable<ModuleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Modules</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th width="300">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Activities
            </th>
            <th>
                Documents
            </th>
            <th>
                Course
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string classContents = "btn btn-outline-primary";
            <tr>
                <td width="300">
                    <div>
                        @*@if (Model.SelectedModule is not null)
                        {
                            if (Model.SelectedModule == module)
                            {
                                <div id="selected"></div>
                                classContents = "btn  btn-outline-warning";

                            }
                        }*@


                        @Html.ActionLink(linkText: item.Name, actionName: "Index", controllerName: "Modules",
                                         protocol: null, hostname: null, fragment: null,
                                         routeValues: new { selected = item.Id },
                                         htmlAttributes: new { @class = classContents })


                    </div>

                    <div><strong>@Html.DisplayNameFor(modelItem => item.Description):</strong> @Html.DisplayFor(modelItem => item.Description)</div>
                    <div><strong>@Html.DisplayNameFor(modelItem => item.StartDate):</strong> @Html.DisplayFor(modelItem => item.StartDate)</div>
                    <div><strong>@Html.DisplayNameFor(modelItem => item.EndDate):</strong> @Html.DisplayFor(modelItem => item.EndDate)</div>
                </td>
                <td>
                    @if (item.Activities != null)
                    {
                        @if (item.Activities.Count > 0)
                        {
                            <div>
                                Number of <strong>activities</strong>:
                                @Html.DisplayFor(modelItem => item.Activities.Count)
                            </div>

                            @foreach (var activity in item.Activities)
                            {
                                if (activity != null)
                                {
                                    <div>
                                        @Html.ActionLink(linkText: activity.Name, actionName: "Index", controllerName: "Activities",
                                                         protocol: null, hostname: null, fragment: null,
                                                         routeValues: new { selected = activity.Id },
                                                         htmlAttributes: new { @class = "btn btn-outline-info" })
                                    </div>
                                }
                            }

                        }
                    }
                </td>
                <td>
                    @if (item.Documents != null)
                    {
                        @foreach (var document in item.Documents)
                        {
                            <div>
                                <a class="btn btn-outline-success" asp-action="Details" asp-controller="Documents" asp-route-id="@document.Id">
                                    @document.Name
                                </a>
                            </div>
                        }
                    }
                    </td>
                <td>
                    @if (item.Course is not null)
                    {
                        @Html.ActionLink(linkText: item.Course.Name, actionName: "Index", controllerName: "Courses",
                                         protocol: null, hostname: null, fragment: null,
                                         routeValues: new { selected = item.Course.Id },
                                         htmlAttributes: new { @class = "btn btn-outline-secondary" })
                    }
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
