
@model DashboardStudentScheduleViewModel

<div class="card border-secondary mb-3" style="max-width: 30rem;">
    <div class="card-header">Hello @User.Identity.Name, here's your day! <br /> <p>Here's what happening in NA21 today!</p></div>

    <div class="card-body">

        @foreach (var activity in Model.Activities)
        {


            
            @if (activity.StartDate < DateTime.Now && activity.EndDate > DateTime.Now)
            {
                //if (activity.ActivityType is not null)
                //{
                switch (activity.ActivityType.Name)
                {
                    case "Lecture":
                        <h5 class="card-title text-danger">@activity.Name @activity.StartDate-@activity.EndDate</h5>
                        <p class="card-text"> @activity.Description</p>
                        break;
                    case "Assignment":
                        <h5 class="card-title text-info">@activity.Name @activity.StartDate-@activity.EndDate</h5>
                        <p class="card-text"> @activity.Description</p>
                        break;
                    case "E-Learning":
                        <h5 class="card-title text-primary">@activity.Name @activity.StartDate-@activity.EndDate</h5>
                        <p class="card-text"> @activity.Description</p>
                        break;

                    default:
                        <h5 class="card-title text-primary">@activity.Name @activity.StartDate-@activity.EndDate</h5>
                        <p class="card-text"> @activity.Description</p>
                        break;
                }
                //}
            }


        }
    </div>
</div>