@model IEnumerable<Core.Entities.API.Literature>

@{
    ViewData["Title"] = "Literatures";
}

<div style="padding-left: 31px">
    <h1>Literatures</h1>

    <p>
        <a asp-action="Create">Create Literature</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LevelName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublishDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Authors)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subjects)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.LevelName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.PublishDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Authors)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Subjects)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
