@model IEnumerable<ActivityViewModel>

@{
    ViewData["Title"] = "Assignments";
}

<div class="d-flex m-5">
    <div>
        <div class="card border-secondary">
            <div class="card-header">
                <h5>Assignments</h5>
                <hr />
                <div id="effect">
                    <div class="row">
                        <div id="accordion" class="accordion" style="width:40em;">
                            @foreach (var item in Model)
                            {
                                <h3>@item.Name</h3>
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">@item.Module.Name</h4>
                                        <p class="card-text">@item.Description</p>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item text-primary">Assigned on @item.StartDate.ToString("dddd, dd MMMM yyyy")</li>
                                            <li class="list-group-item text-danger">Deadline @item.EndDate.ToString("dddd, dd MMMM yyyy")</li>
                                            <li class="list-group-item m-2 p-2">
                                                <strong>Documents</strong><br />
                                                @foreach (var document in item.Documents)
                                                {
                                                    <a type="button" class="btn btn-outline-primary m-1 p-1" href="@document.FilePath">@document.Name</a>
                                                }
                                            </li>
                                            <li class="list-group-item"><a type="button" class="btn btn-outline-info float-right" href="#">Submit assignment</a></li>
                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var icons = {
            header: "ui-icon-circle-arrow-e",
            activeHeader: "ui-icon-circle-arrow-s"
        };
        $("#accordion").accordion({
            collapsible: true,
            heightStyle: "content",
            active: false,
            icons: icons
        });
        $("#toggle").button().on("click", function () {
            if ($("#courses").accordion("option", "icons")) {
                $("#courses").accordion("option", "icons", null);
            } else {
                $("#courses").accordion("option", "icons", icons);
            }
        });
    });
</script>