@model ActivityListViewModel

@{
    ViewData["Title"] = "Assignments";
    var i = 0;
    string activeCourse = "false";
}

<div class="d-flex mt-3 ml-5">
    <div>
        <div class="card border-secondary">
            <div class="card-header">
                <h4>Assignments</h4>
                <hr />
                <div id="effect">
                    <div class="row">
                        <div id="accordion">
                            @foreach (var item in Model.Activities)
                            {
                                string classContents = "";

                                @if (Model.SelectedActivity is not null)
                                {
                                    if (Model.SelectedActivity.Id == item.Id)
                                    {
                                        classContents = "border-warning";
                                        activeCourse = i.ToString();
                                    }
                                }
                                <h3>@item.Name</h3>
                                <div class="card @classContents">
                                    <div class="card-body">
                                        <p class="card-text">@item.Description</p>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item text-primary">Assigned on @item.StartDate.ToString("dddd, dd MMMM yyyy")</li>
                                            <li class="list-group-item text-danger">Deadline @item.EndDate.ToString("dddd, dd MMMM yyyy")</li>
                                            <li class="list-group-item m-2 p-2">
                                                <strong>Documents</strong><br />
                                                @foreach (var document in item.Documents)
                                                {
                                                    <a type="button" class="btn btn-outline-primary m-1 p-1" href="@document.FilePath">@document.Name</a>
                                                }
                                            </li>
                                            <li class="list-group-item"><a type="button" class="btn btn-outline-info float-right" href="#">Submit assignment</a></li>
                                        </ul>
                                    </div>
                                </div>
                                i++;
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var icons = {
            header: "ui-icon-circle-arrow-e",
            activeHeader: "ui-icon-circle-arrow-s"
        };
        $("#accordion").accordion({
            collapsible: true,
            heightStyle: "content",
            active: @activeCourse,
            icons: icons
        });
        $("#toggle").button().on("click", function () {
            if ($("#courses").accordion("option", "icons")) {
                $("#courses").accordion("option", "icons", null);
            } else {
                $("#courses").accordion("option", "icons", icons);
            }
        });
    });
</script>