@model DashboardStudentModulesViewModel
@{

    <script>
        var moduleNames = [];
        var moduleData = [];
        var activityNames = [];
        var activityData = [];
    </script>

    @foreach (var module in Model.Modules)
    {
        int totalDays = (int)(module.EndDate - module.StartDate).TotalDays;
        <script>
        moduleNames.push('@module.Name');
        moduleData.push(@totalDays);
        </script>
        @foreach (var activity in module.Activities)
        {
            int totalADays = (int)(activity.EndDate - activity.StartDate).TotalDays;
            <script>
                activityNames.push('@activity.Name');
                activityData.push(@totalADays);
            </script>
        }

    }
}

<div class="card border-secondary mb-3">
    <div class="card-header">
        <h4>Course Details</h4>
    </div>
    <canvas id="ModuleChart" width="400" height="400" class="p-2"></canvas>
    @*<canvas id="ActivityChart" width="400" height="400" class="p-2"></canvas>*@

    <script>
        const data1 = {
            labels: moduleNames,
            datasets: [{
                label: 'Modules',
                data: moduleData,
                fill: true,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                pointRadius: 1,
            }]
        };

        const config1 = {
            type: 'pie',
            data: data1,
            options: {
                plugins: {
                    legend: {
                        position: 'top',
                        display: true
                    },
                    title: {
                        display: true,
                        text: 'Days per Module'
                    }
                }
            },
        };

        var myChart1 = new Chart(
            document.getElementById('ModuleChart'),
            config1
        );

                    //const data2 = {
                    //    labels: activityNames,
                    //    datasets: [{
                    //        label: 'Modules',
                    //        data: activityData,
                    //        fill: false,
                    //        backgroundColor: [
                    //            'rgba(255, 99, 132, 0.2)',
                    //            'rgba(54, 162, 235, 0.2)',
                    //            'rgba(255, 206, 86, 0.2)',
                    //            'rgba(75, 192, 192, 0.2)',
                    //            'rgba(153, 102, 255, 0.2)',
                    //            'rgba(255, 159, 64, 0.2)'
                    //        ],
                    //        borderColor: [
                    //            'rgba(255, 99, 132, 1)',
                    //            'rgba(54, 162, 235, 1)',
                    //            'rgba(255, 206, 86, 1)',
                    //            'rgba(75, 192, 192, 1)',
                    //            'rgba(153, 102, 255, 1)',
                    //            'rgba(255, 159, 64, 1)'
                    //        ],
                    //        pointRadius: 1,
                    //    }]
                    //};

                    //const config2 = {
                    //    type: 'pie',
                    //    data: data2,
                    //    options: {
                    //        plugins: {
                    //            legend: {
                    //                position: 'top',
                    //                display: false
                    //            },
                    //            title: {
                    //                display: true,
                    //                text: 'Days per Module'
                    //            }
                    //        }
                    //    },
                    //};

                    //var myChart2 = new Chart(
                    //    document.getElementById('ActivityChart'),
                    //    config2
                    //);
    </script>
    <hr />
    <div class="card-body">
        <div>
            <h6 class="">Course Progress</h6><br />
        </div>

        @foreach (var module in Model.Modules)
        {

            var progress = (int)((DateTime.Now - module.StartDate).TotalDays / (module.EndDate - module.StartDate).TotalDays);
            if (progress < 1)
            {
                progress = 1;
            }
            string progressWidth = progress.ToString() + "%";
            if (module.StartDate < DateTime.Now && module.EndDate < DateTime.Now)
            {

                <div>
                    <h6 class="text-muted">@module.Name</h6>
                </div>
                <p class="card-text">
                    <small class="font-italic">Finished on @module.EndDate.ToString("dddd, dd MMMM yyyy")</small>
                </p>
                <hr>

            }
            if (module.StartDate < DateTime.Now && module.EndDate > DateTime.Now)
            {

                <div>
                    <h6 class="text-black">@module.Name</h6>
                </div>

                <p class="card-text">
                    <span class="text-black font-italic"><small>Started @module.StartDate.ToString("dddd, dd MMMM yyyy")</small></span>
                    <br />
                    <span class="text-black font-italic"><small>Ends on @module.EndDate.ToString("dddd, dd MMMM yyyy")</small></span>
                </p>
                <hr>

            }
            if (module.StartDate > DateTime.Now && module.EndDate > DateTime.Now)
            {

                <div>
                    <h6 class="text-muted">@module.Name</h6>
                </div>
                <p class="card-text">
                    <div class="text-muted font-italic"><small>Starts on @module.EndDate.ToString("dddd, dd MMMM yyyy")</small></div>
                </p>
                <hr>

            }
        }
    </div>
</div>
